
.admin__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    padding: 20px;
    border: 1px dotted rgba(63, 78, 101, 0.3);
}

.admin__form-title {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color:#3f4e65;
    text-transform: capitalize;
}

.admin__form label {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.admin__form span {
    margin-bottom: 5px;
    font-weight: 500;
}

.label_select {
    flex-direction: row;
}

.admin__form input,
.admin__form textarea,
.admin__form select {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 20px;
    color: #3f4e65;
    border: 1px solid rgba(63, 78, 101, 0.5);
}

.admin__form textarea {
    resize: none;
}

.admin__form input:disabled {
    background-color: rgba(63, 78, 101, 0.1);
}