.admin-page__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.admin__products {
    width: 63%;
}

.admin__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.admin__list-title {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}
