.price-filter {
    margin-bottom: 30px;
}

.price-filter__title {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    color: #3f4e65;
}

.price-filter__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.price-filter__form input {
    width: 105px;
    padding: 4px 14px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(255, 198, 80, 0.3);
}
